/*** 背景壁紙の上書き ***/
/* メイン部の背景 */
.article-description {
  background-image: url("../images/WallPapers/WhiteWallPaper.png");
  background-repeat: repeat;
  z-index: 52;
  width: 1200px;
  height: 650px;
  margin-top: -44px;
}

/*** モットー情報の体裁の調整 */

.slogan {
  position: absolute;
  top: 40px;
  left: 80px;
}
.slogan p {
  font-size: 24px;
  line-height: 46px;
  color: black;
}

.slogan_comment {
  position: absolute;
  top: 280px;
  left: 80px;
}
.slogan_comment p {
  font-size: 18px;
  line-height: 32px;
  color: black;
}

/*** 背景動画の設定 ***/
video[target="video-heart-beat"] {
  width: 1200px;
  height: 800px;
}

.back-movie {
  top: -143px;
  left: -50px;
  width: 1200px;
  height: 700px;
  background-color: white;
  overflow: hidden;
  opacity: 0.1;
}
